<h3>About Page</h3>

<!-- p*2>lorem -->
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, autem! Animi iusto id vitae expedita eos non nemo, iure. Mollitia laborum ea consequuntur? Odio tenetur esse assumenda quibusdam iste molestiae!</p>

<p>Delectus a atque, possimus maiores amet obcaecati corrupti at praesentium accusamus vitae, mollitia, exercitationem sequi recusandae sapiente nihil nulla numquam dolor? Iste necessitatibus laudantium magnam, maiores dolor, quam ipsa distinctio.</p>
