<h3>Home Page</h3>

<p>Find me in app/views/pages/home.html.erb</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum consequuntur fugit iste sed, laborum vitae eius laboriosam alias fugiat iusto eum aperiam qui, inventore dolor quo sapiente nemo. Recusandae, soluta.</p>
