<h2> Date Helpers </h2>

<p><%= time_ago_in_words(5.minutes.from_now) %></p>
<p><%= time_ago_in_words(Time.now + 48.seconds, :include_seconds => true)%></p>
<p><%= distance_of_time_in_words(Time.now, Time.now + 1.year + 5.months + 24.seconds)%></p>
<p></p>
<p></p>
<p></p>
