<h3>Create a new animal</h3>

<form action="/animals" method="POST">
  <p>
    <label for="">Species:</label>
    <input type="text" name="species" placeholder="Species">
  </p>
  <p>
    <label for="">Image:</label>
    <input type="text" name="image" placeholder="Image">
  </p>
  <p>
    <label for="">Description:</label>
    <input type="text" name="description" placeholder="Description">
  </p>
  <input type="submit" value="Create animal">
</form>
