<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Animals App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <h1>Our Animals Application</h1>

  <nav>
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    
    <a href="/animals">All Animals</a> |
    <a href="/animals/new">Create Animal</a> |

    <a href="/habitats">All Habitats</a> |
    <a href="/habitats/new">Create Habitat</a>
  </nav>

  <hr>
    <%= yield %>
  <hr>

</body>
</html>
