<h3>All Users</h3>

<% @users.each do |u| %>
  <p>
    <%#= u.to_json %>
    <%#= link_to( u.name, user_path(u.id) ) %>
    <%#= link_to( u.name, user_path(u) ) %>
    <%= link_to( u.name, u ) %>
  </p>
<% end %>
