<h3>Find me in app/views/pages/about.html.erb</h3>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur velit laborum fugiat laboriosam beatae at necessitatibus in qui minima officiis incidunt, inventore vero soluta, nostrum ut sunt hic perspiciatis assumenda.</p>
