#app {
  border: 2px solid tomato;
  padding: 5px 10px;
}

#secretForm {
  border: 2px solid dodgerblue;
  padding: 5px 10px;
}

#secrets {
  padding: 0;

  li {
    border: 2px solid limegreen;
    padding: 5px 10px;
    margin-bottom: 10px;
    list-style: none;
  }
}

#secretForm {
  text-align: center;

  textarea {
    width: 80%;
    display: block;
    margin: 10px auto;
    outline: none;
    border: 2px solid dodgerblue;
  }

  button {
    outline: none;
    padding: 5px 10px;
    border: 2px solid dodgerblue;
    color: dodgerblue;
    background-color: ghostwhite;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: dodgerblue;
      color: ghostwhite;
    }
  }
}
