<h2>This is our info page</h2>

<div id="dashboard">
  <h2 class="currentTime">
    <%= @info[:current_time] %>
  </h2>
  <p class="lotto">
    <%= @info[:lucky_numbers] %>
  </p>
  <p class="uptime">
    <%= @info[:uptime] %>
  </p>
  <p class="fortune">
    <%= @info[:fortune] %>
  </p>
</div>
