<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Our Calculator App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <a href="/contact">Contact Page</a>

    <a href="/calculate">Add some numbers</a>

    <a href="/auto/rebeccapurple">Purple Car</a>

    <a href="/users">All Users Page</a>
    <a href="/users/badger">Badger's Profile Page</a>
  </nav>

  <h1>This is our calculator app</h1>

  <hr>
  <%= yield %>
  <hr>

  <footer>
    Our footer goes here
  </footer>

</body>
</html>
