* {
  border: 1px solid gainsboro;
  margin: 0;
}

body {
  min-height: 1000px;
  margin-top: 80px;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 80px;
  width: 100%;
  position: fixed;
  text-align: center;
  top: 0;
  left: 0;
  background: lightslategray;
  z-index: 912409128490128409128409128409128401948;
}

h1 {
  position: relative;
  top: 0;
  left: 50px;
}

h2 {
  position: absolute;;
  top: 0;
  left: -20px;
}

h3 {
  position: relative;
  /*top: 100px;*/
  left: 30px;
}

h4 {
}

i.fa-github {
  font-size: 80px;
  color: rebeccapurple;
}
