#appView {
  border: 1px solid black;
  padding: 5px 10px;
}

#posts li {
  border: 1px solid red;
  padding: 5px 10px;
}

#postView {
  border: 1px solid orange;
  padding: 5px 10px;
}

#error {
  border: 1px solid green;
  padding: 5px 10px;
}
