<!DOCTYPE html>
<html>
<head>
  <title>SolarSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <h1>The Solar System</h1>

    <nav>
      <a href="/">Home</a> |
      <a href="/planets">All Planets</a>
    </nav>

    <hr>
    <%= yield %>
    <hr>

  </div>

</body>
</html>
